@charset "UTF-8";
/* CSS Document */

/* RESET*/
* {
    margin:0;
    padding:0;
    list-style:none;
    outline: 0;
}
html, body {
    height:100%;
    font-size: 0.9em;
    font-family:Verdana, Helvetica, sans-serif;
	color:black;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
img, fieldset, table { border:none; }

/* ============================================== */

body {
    background: url("../image/body-bg.jpg") repeat-x scroll 0 0 #f0f0f1;
}
h3 {
    color: #515151;
    font-size: 12px;
}

/* REDES SOCIAIS */
#site {
    margin: 0 auto;
    width: 1000px;
}
#site ul {
    float: right;
    list-style: none outside none;
    margin: 10px 0 7px;
}
#site ul li {
    display: inline;
}
/* END REDES SOCIAIS */

/* HEADER */
#conteudo {
    background-color: white;
    border: 2px solid #F5F5F5;
    margin-top: 10px;
    clear: both;
    padding-bottom: 250px;
}
.header {
    height: 125px;
    margin-top: 40px;
}
.header header {
    background: url("../image/fita-header.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    width: 400px;
}
.header header h1 {
    color: white;
    float: left;
    font-size: 30px;
    margin: 22px 0 0 28px;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.65);
    text-transform: uppercase;
}
#menu-principal {
    padding-top: 20px;
}
#menu-principal ul {
    padding-right: 25px;
}
.header ul {
	float: right;
    list-style: none outside none;
}
.header ul li {
    display: inline;
    padding: 3px 15px 5px 5px;
    border-left: 1px dotted #C3C3C3;
    font-weight: bold;
}
.header ul li#selected a {
    color: black;
    font-weight: bold;
}
.header ul li a {
    color: #707076;
}
/* END HEADER */

/* HOME */
#home {
    background: url("../image/home-bg.jpg") repeat-x scroll 0 0 transparent;
}
#home header {
    margin-bottom: 45px;
    padding-top: 40px;
    text-align: center;
}
#home header h2 {
    color: #707070;
}
#home header small {
    color: #a6a6a6;
}
#home img {
    margin-left: 30px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 30px;
}
.itens-home {
    color: #8A8A8A;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    padding-bottom: 60px;
    width: 210px;
}
.itens-home footer {
    background: url("../image/ver-mais.jpg") no-repeat scroll 75px 0 #F7F7F7;
    font-size: 10px;
    height: 18px;
    margin-top: 15px;
    padding: 5px 0 0 10px;
    text-transform: lowercase;
    width: 90px;
}
.itens-home #design {
    background: url(../image/icon-design.jpg)no-repeat 0 0 transparent;
    height: 35px;
    padding: 15px 0 0 35px;
}
.itens-home #colors {
    background: url(../image/icon-colors.jpg)no-repeat 0 0 transparent;
    height: 35px;
    padding: 15px 0 0 35px;
}
.itens-home #support {
    background: url(../image/icon-support.jpg)no-repeat 0 0 transparent;
    height: 35px;
    padding: 15px 0 0 35px;
}
.itens-home #business {
    background: url(../image/icon-business.jpg)no-repeat 0 0 transparent;
    height: 35px;
    padding: 15px 0 0 35px;
}
.carroussel {
    clear: both;
    border-top: 1px solid #E8E8E8;
    padding-top: 30px;
    margin: 0 30px;
}
.carroussel header {
    float: left;
    width: 940px;
}
.carroussel h3 {
    float: left;
    font-size: 14px;
}
.carroussel button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
}
.projetos {
    float: left;
    margin-top: 10px;
    padding-left: 30px;
}
.projetos p {
    background: url("../image/icon-description.jpg") no-repeat scroll 0 3px transparent;
    border-bottom: 1px solid #E8E8E8;
    color: #707070;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.projetos footer {
    color: #BBBBBB;
    font-size: 10px;
    padding-bottom: 50px;
    text-transform: lowercase;
}
footer a {
    color: #8a8a8a;
}
/* END HOME */

/* EMPRESA */
.header-empresa {
    background-color: #F0F0F1;
    clear: both;
    height: 125px;
    margin-top: 40px;
    padding-top: 40px;
}
.header-empresa header {
    background: url("../image/fita-header-empresa.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    width: 245px;
}
.header-empresa header h1 {
    color: white;
    float: left;
    font-size: 30px;
    margin: 22px 0 0 28px;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.65);
    text-transform: uppercase;
}
#conteudo-empresa {
    color: #8A8A8A;
    clear: both;
    padding: 25px;
}
#conteudo-empresa img {
    float: left;
    padding-right: 25px;
}
#conteudo-empresa h3{
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
#conteudo-empresa p {
    color: #8A8A8A;
}
#conteudo-empresa #information {
    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
}
#conteudo-empresa article {
    float: right;
    width: 265px;
}
.header-empresa p {
    color: #515151;
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
/* END EMPRESA */

/* SERVICO */
#conteudo-servicos {
    clear: both;
}
.header-servicos {
    background-color: #F0F0F1;
    clear: both;
    height: 125px;
    margin-top: 40px;
    padding-top: 40px;
}
.header-servicos p {
    color: #515151;
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
.header-servicos header {
    background: url("../image/fita-header-empresa.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    width: 245px;
}
.header-servicos header h1 {
    color: white;
    float: left;
    font-size: 30px;
    margin: 22px 0 0 28px;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.65);
    text-transform: uppercase;
}
/* END SERVICO */

/* CONTATO */
.header-contato {
    background-color: #F0F0F1;
    clear: both;
    height: 125px;
    margin-top: 40px;
    padding-top: 40px;
}
.header-contato p {
    color: #515151;
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
.header-contato header {
    background: url("../image/fita-header-empresa.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 81px;
    width: 245px;
}
.header-contato header h1 {
    color: white;
    float: left;
    font-size: 30px;
    margin: 22px 0 0 28px;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.65);
    text-transform: uppercase;
}
#conteudo-contato {
    margin-bottom: 100px;
    padding: 45px 25px 0;
}
#conteudo-contato img {
    float: left;
    margin-bottom: 30px;
    margin-right: 25px;
}
#conteudo-contato h2 {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #414040;
    font-size: 14px;
}
#conteudo-contato #info {
    float: right;
    width: 265px;
}
#conteudo-contato #info-text {
    margin-bottom: 20px;
}
#conteudo-contato #form {
    clear: both;
    width: 640px;
}
#conteudo-contato p {
    color: #8A8A8A;
    line-height: 20px;
}
#conteudo-contato span {
    color: #f1710d;
}
#conteudo-contato input {
    border: 1px solid #E8E8E8;
    color: #515151;
    float: left;
    font-size: 10px;
    height: 25px;
    margin-right: 18px;
    width: 200px;
}
#conteudo-contato textarea {
    border: 1px solid #E8E8E8;
    color: #515151;
    font-size: 10px;
    float: left;
    height: 165px;
    margin: 20px 0;
    width: 640px;
    font-family: verdana;
}
#conteudo-contato #formContato {
    margin-top: 30px;
    width: 660px;
}
#conteudo-contato input#enviar {
    background: url("../image/seta-enviar.png") no-repeat scroll 70px 16px #1A1C1E;
    color: white;
    height: 36px;
    width: 89px;
}
/* END CONTATO */