@charset "UTF-8";
/* CSS Document */

/* RESET*/
* {
    margin:0;
    padding:0;
    list-style:none;
    outline: 0;
}
html, body {
    height:100%;
    font-size: 0.9em;
    font-family:Verdana, Helvetica, sans-serif;
	color:black;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
img, fieldset, table { border:none; }

/* ============================================== */

body {
    background-color: white;
}
h3 {
    color: #515151;
    font-size: 12px;
}
#home h1 {
    background-color: black;
    color: white;
    height: 25px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}
#home p {
    margin-top: 20px;
    width: 450px;
}
#home #formTop {
    margin-top: 30px;
}
#home article {
    margin-left: 30px;
}
#home input#button-top {
    background-color: #CB3434;
    border: 1px solid #AB2828;
    border-radius: 4px 4px 4px 4px;
    color: white;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 200px;
}
#home input#button-text {
    background-color: #E3E3E3;
    border: 1px solid #D2D3D3;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    margin-bottom: 30px;
    width: 90px;
}
.borda-preta {
    border-top: none;
    border-bottom: 5px solid black;
}
.borda-cinza {
    border-top: none;
    border-bottom: 2px solid gray;
}
#borda-top {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
#borda-top2 {
    border-bottom: 1px solid black;
    border-top: 1px solid gray;
    margin-top: 5px;
}
.separacao {
    border-color: -moz-use-text-color -moz-use-text-color #C3C3C3;
    border-style: none none dotted;
    border-width: medium medium 1px;
    clear: both;
}
/* REDES SOCIAIS */

#site-home {
    
}
#esquerda {
}
#direita {
}
.site {
    margin: 0 auto;
    width: 1000px;
}
.site ul {
    float: right;
    list-style: none outside none;
    margin: 10px 6px 7px;
}
.site ul li {
    display: inline;
}
.site .separacao {
    margin: 0 25px;
}
/* END REDES SOCIAIS */

/* HEADER */
#conteudo {
    background-color: white;
}
.header p {
    color: #707076;
    margin-left: 40px;
    margin-top: 50px;
}
.header header {
    float: left;
    height: 81px;
    margin-top: 10px;
    width: 400px;
}
.header header h1 {
    color: black;
    float: left;
    font-size: 30px;
    margin: 0 40px;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.65);
}
#menu-principal {
    padding-top: 5px;
}
.header article {
    clear: both;
}
.header img {
    float: right;
    margin-bottom: -1px;
    margin-right: 30px;
}
.header hr {
    border-color: -moz-use-text-color -moz-use-text-color #C3C3C3;
    border-style: none none solid;
    border-width: medium medium 1px;
    clear: both;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.header ul {
	float: right;
    list-style: none outside none;
}
.header ul li {
    border-left: 1px dotted #C3C3C3;
    display: inline;
    padding: 3px 13px 5px;
}
.header .first-child {
    border: none;
}
.header ul li a {
    color: #707076;
}
/* END HEADER */

/* HOME */
#home-chamada {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    clear: both;
    margin: 0 25px;
    padding: 40px 0;
    text-align: center;
}
#home header {
    margin-bottom: 45px;
    padding-top: 40px;
    text-align: center;
}
#home header h2 {
    color: #707070;
}
#home header small {
    color: #a6a6a6;
}
#home img {
    margin-left: 30px;
    padding-bottom: 30px;
    margin-top: 45px;
}
.itens-home {
    color: #8A8A8A;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 160px;
}
.itens-home h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
}
section#icon-1 {
    background: url(../image/icon-1.png)no-repeat 0 0 transparent;
    margin-left: 30px;
    padding-left: 60px;
}
section#icon-2 {
    background: url(../image/icon-2.png)no-repeat 0 0 transparent;
    margin-left: 20px;
    padding-left: 60px;
}
section#icon-3 {
    background: url(../image/icon-3.png)no-repeat 0 0 transparent;
    margin-left: 20px;
    padding-left: 60px;
}
section#icon-4 {
    background: url("../image/icon-4.png") no-repeat scroll 0 0 transparent;
    margin-bottom: 40px;
    margin-left: 20px;
    padding-left: 60px;
}
.carroussel {
    clear: both;
    border-top: 1px solid #E8E8E8;
    padding-top: 30px;
    margin: 0 30px;
}
.carroussel h3 {
    font-size: 14px;
}
.projetos {
    margin-top: 10px;
    padding: 0 25px;
    float: left;
    width: 280px;
}
.projetos p {
    border-bottom: 1px solid #E8E8E8;
    color: #515151;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.projetos footer {
    color: #BBBBBB;
    font-size: 12px;
    padding-bottom: 50px;
}
footer a {
    color: #8a8a8a;
}
/* END HOME */

/* EMPRESA */
.header-empresa {
    padding-top: 40px;
}
.header-empresa header {
    float: left;
    margin-left: 25px;
}
#conteudo-empresa {
    color: #8A8A8A;
    clear: both;
    padding: 25px;
}
.header-empresa h1 {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    width: 120px;
}
.header-empresa hr {
    border-color: -moz-use-text-color -moz-use-text-color black;
    border-style: none none solid;
    border-width: medium medium 10px;
    margin: 6px 25px 0 0;
    padding-top: 14px;
}
#conteudo-empresa img {
    padding-right: 25px;
}
#conteudo-empresa h3{
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
#conteudo-empresa p {
    color: #8A8A8A;
}
#conteudo-empresa #information {
    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
}
#conteudo-empresa article {
    float: right;
    width: 265px;
}
.header-empresa p {
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
/* END EMPRESA */

/* SERVICO */
#conteudo-servicos {
    clear: both;
}
.header-servicos hr {
    border-color: -moz-use-text-color -moz-use-text-color black;
    border-style: none none solid;
    border-width: medium medium 10px;
    margin: 6px 25px 0 0;
    padding-top: 14px;
}
.header-servicos h1 {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    width: 120px;
}
.header-servicos {
    clear: both;
    height: 35px;
    padding-top: 40px;
}
.header-servicos p {
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
.header-servicos header {
    float: left;
    margin-left: 25px;
}
/* END SERVICO */

/* CONTATO */
.header-contato {
    clear: both;
    height: 35px;
    margin-top: 30px;
}
.header-contato hr {
    border-color: -moz-use-text-color -moz-use-text-color black;
    border-style: none none solid;
    border-width: medium medium 10px;
    margin: 0 25px 0 0;
    padding-top: 20px;
}
.header-contato h1 {
    background-color: black;
    color: white;
    height: 30px;
    text-align: center;
    width: 120px;
}
.header-contato p {
    float: right;
    letter-spacing: -0.5px;
    padding: 30px 280px 0 0;
}
.header-contato header {
    float: left;
    margin-left: 25px;
}
#conteudo-contato {
    margin-bottom: 100px;
    padding: 15px 25px 0;
}
#conteudo-contato img {
    float: left;
    margin-bottom: 30px;
    margin-right: 25px;
}
#conteudo-contato h2 {
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    padding-bottom: 20px;
    color: #414040;
    font-size: 14px;
}
#conteudo-contato #info {
    float: right;
    width: 265px;
}
#conteudo-contato #info-text {
    color: #8A8A8A;
    font-weight: normal;
    margin-bottom: 20px;
}
#conteudo-contato #form {
    clear: both;
    width: 640px;
}
#conteudo-contato p {
    color: #414040;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
#conteudo-contato span {
    color: #cb3434;
    font-weight: normal;
}
#conteudo-contato input {
    border: 1px solid #E8E8E8;
    float: left;
    height: 25px;
    margin-right: 18px;
    width: 200px;
}
#conteudo-contato textarea {
    border: 1px solid #E8E8E8;
    float: left;
    height: 165px;
    margin: 20px 0;
    width: 640px;
}
#conteudo-contato #formContato {
    margin-top: 30px;
    width: 660px;
}
#conteudo-contato input#enviar {
    background: url("../image/seta-enviar.png") no-repeat scroll 70px 16px #CB3434;
    border-color: #AB2828;
    border-radius: 4px 4px 4px 4px;
    color: white;
    height: 36px;
    margin-bottom: 30px;
    width: 89px;
}
/* END CONTATO */

/* FOOTER */
#rodape {
    background-color: #161616;
    color: #8A8A8A;
    font-size: 10px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#rodape p {
    float: left;
    padding-top: 20px;
}
#rodape ul {
    float: right;
    margin: 0;
    padding-top: 20px;
}
/* END FOOTER */